html {
	box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
	/*original orange color #dd3f00 */
	background-color: #f5f5f5;
	color:#202020;
	font-family: "Century Gothic", Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	border: 6px solid white;
	margin: 0;
	padding: 2em;
	min-height: 100vh;
}